.main
{
	padding-top: 100px;
	padding-bottom: 80px;
}

.hi 
{
	padding-bottom: 10px;
}

.ng-cloak
{
	display: none;
}

#mahrez
{
	width: 85%;

}

#logo
{
	height: 70px;
	width: 130px;
	margin-left: -10px;

}

#barclay
{
	width: 65%;
}

.teamArs
{
	margin-left: -8px;
	height: 45px;
	width: 45px;
}
.teamBourne
{
	height: 30px;
	width: 25px;
	margin-left: -5px;
	margin-top: 1px;
}

.teamBurn
{
	height: 30px;
	width: 28px;
	margin-left: 3px;
	margin-top: 2px;
}

.teamChels
{
	height: 31px;
	width: 32px;
	margin-left: 3px;
	margin-top: 2px;
}

.teamCryst
{
	height: 32px;
	width: 35px;
	margin-left: 1px;
}

.teamEvert
{
	height: 32px;
	width: 32px;
	margin-left: 1px;
	margin-top: 2px;
}

.font
{
	font-size: 18px;
}

.teamHull
{
	height: 30px;
	width: 35px;
	margin-left: px;
}

.teamLeic
{
	height: 31px;
	width: 30px;
	margin-left: 1px;
}

.teamLiv
{
	height: 33px;
	width: 33px;
	margin-left: 4px;
}

.teamManC
{
	height: 33px;
	width: 33px;
	margin-left: 1px;
	
}

.teamManU
{
	height:33px;
	width: 33px;
	margin-left: 2px;
	margin-top: 2px;
}

.teamMidd
{
	height:32px;
	width: 35px;
	margin-left: 1px;
	margin-top: 2px;

}

.teamSouth
{
	height: 32px;
	width: 33px;
	margin-left: 1px;
	margin-top: 4px;
}

.teamStoke
{
	height: 32px;
	width: 33px;
	margin-left: 1px;
	margin-top: 3px;
}

.teamSund
{
	height: 32px;
	width: 33px;
	margin-left: 3px;
	margin-top: 3px;
}

.teamSwan
{
	height: 30px;
	width: 29px;
	margin-left: 4px;
	margin-top: 4px;
}

.teamSpurs
{
	height: 32px;
	width: 45px;
	margin-top: 4px;
	margin-left: -5px;
}

.teamWat
{
	height: 32px;
	width: 30px;
	margin-top: 3px;
	margin-left: -5px;
}

.teamAlbion
{
	height: 31px;
	width: 26px;
	margin-left: 5px;
	margin-top: 4px;
}

.teamWest
{
	height: 32px;
	width: 33px;
	margin-left: 4px;
	margin-top: 6px;
}












