body
{
	background-image: url(http://img09.deviantart.net/ff0c/i/2015/231/e/0/sergio_aguero_2015_16_m9_by_marayu9-d96apuv.png);
	background-size: 100%;
	background-repeat: no-repeat;

}

.main
{
	padding-top: 100px;
	padding-bottom: 80px;
}

.hi 
{
	padding-bottom: 10px;
}

.ng-cloak
{
	display: none;
}

#mahrez
{
	width: 85%;

}

#logo
{
	height: 8rem;
	width: 100%;
	margin-left: -10px;

}

#barclay
{
	width: 65%;
}

.teamArs
{
	margin-left: -8px;
	height: 45px;
	width: 45px;
}
.teamBourne
{
	height: 30px;
	width: 25px;
	margin-left: -5px;
	margin-top: 1px;
}

.teamBurn
{
	height: 30px;
	width: 28px;
	margin-left: 3px;
	margin-top: 2px;
}

.teamChels
{
	height: 31px;
	width: 32px;
	margin-left: 3px;
	margin-top: 2px;
}

.teamCryst
{
	height: 32px;
	width: 35px;
	margin-left: 1px;
}

.teamEvert
{
	height: 32px;
	width: 32px;
	margin-left: 1px;
	margin-top: 2px;
}

.font
{
	font-size: 18px;
}

.teamHull
{
	height: 30px;
	width: 35px;
	margin-left: px;
}

.teamLeic
{
	height: 31px;
	width: 30px;
	margin-left: 1px;
}

.teamLiv
{
	height: 33px;
	width: 33px;
	margin-left: 4px;
}

.teamManC
{
	height: 33px;
	width: 33px;
	margin-left: 1px;
	
}

.teamManU
{
	height:33px;
	width: 33px;
	margin-left: 2px;
	margin-top: 2px;
}

.teamMidd
{
	height:32px;
	width: 35px;
	margin-left: 1px;
	margin-top: 2px;

}

.teamSouth
{
	height: 32px;
	width: 33px;
	margin-left: 1px;
	margin-top: 4px;
}

.teamStoke
{
	height: 32px;
	width: 33px;
	margin-left: 1px;
	margin-top: 3px;
}

.teamSund
{
	height: 32px;
	width: 33px;
	margin-left: 3px;
	margin-top: 3px;
}

.teamSwan
{
	height: 30px;
	width: 29px;
	margin-left: 4px;
	margin-top: 4px;
}

.teamSpurs
{
	height: 32px;
	width: 45px;
	margin-top: 4px;
	margin-left: -5px;
}

.teamWat
{
	height: 32px;
	width: 30px;
	margin-top: 3px;
	margin-left: -5px;
}

.teamAlbion
{
	height: 31px;
	width: 26px;
	margin-left: 5px;
	margin-top: 4px;
}

.teamWest
{
	height: 32px;
	width: 33px;
	margin-left: 4px;
	margin-top: 6px;
}

@media only screen and (max-width: 1000px) {
    body {
        background-image: url(https://c2.staticflickr.com/4/3815/13166787453_e6c40ce888_b.jpg);
   		background-size: 100%;
    }
    #logo
{
	height: 8rem;
	width: 140px;
	margin-left: -10px;

}
}

@media only screen and (max-width: 780px) {
    body {
        background-image: url(http://3.bp.blogspot.com/-FnkW98IAjUE/UDzYdmC4TPI/AAAAAAAAENE/Pgftil58B1I/s1920/champions-league-balls-red-1080.jpg);
   		background-size: 200%;
   		height: auto;
   		padding-top: 50px;
    }
    #logo
{
	height: 7rem;
	width: 120px;

}
}

@media only screen and (max-width: 545px) {
    body {
        background-image: url();
   		background-size: 200%;
   		height: auto;
   		padding-top: 80px;
    }
#logo
{
	height: 10rem;
	width: 20rem;
	margin: 50%;

}
.buttonedit
{
	width: 100%;
}
.iconlogos
{
	display: none;
}
}
@media only screen and (max-width: 454px) {
    body {
        background-image: url();
   		background-size: 200%;
   		height: auto;
   		padding-top: 130px;
    }
    #logo
{
	width: 320px;
	height: 180px;
	margin-left: 15px;
	margin-top: -10px;

}
.iconlogos
{
	display: none;
}
.buttonedit
{
	width: 80%;
}
}



